<a href="https://colab.research.google.com/github/rosehelfrich/Ky_School_data/blob/main/additional/File_1_KY_EPSB_Preprocessing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
district_school_list = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/All Years/df_header.csv')

Yes, I understand that Best Practices says that I should've imported all the read files here.  However with 30+ files to import, it would've been more difficult to comprehend the code.  So I deviated away from this Best Practice so that others could better understand my code.
Rose

# School Data

In [4]:
# Rename the columns and replace the year
# Drop the rows that contain overall district/state data

def transform_environment_data(df, year):
    df.columns = ['End Year', 'District', 'School Code', 'School', 'Reported Spending per student', 'Student Count',
       'Educator Count', 'AVG TCHR experience by school']
    df['End Year'] = year

    df = df[~df['School'].str.startswith('---')]
    df.reset_index(drop=True, inplace=True)

    return df

##2012 - 2017

Load and format columns for 2012-2017 data.  Data formating changed every year, so this had to be done for each individual year.

In [5]:
raw_2012_learn = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/2011-2012/LEARNING_ENVIRONMENT_STUDENTS-TEACHERS.csv', skipfooter=1, engine='python')
envir_2012 = raw_2012_learn.loc[:,['SCH_YEAR','DIST_NAME', 'SCH_CD',  'SCH_NAME', 'SPENDING_PER_STDNT', 'MEMBERSHIP_TOTAL','FULLTIME_TCH_TOTAL', 'AVG_YRS_TCH_EXP']]
envir_2012 = transform_environment_data(envir_2012, 2012)

In [6]:
raw_2013_learn = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/2012-2013/LEARNING_ENVIRONMENT_STUDENTS-TEACHERS.csv', skipfooter=1, engine='python')
envir_2013 = raw_2013_learn.loc[:,['SCH_YEAR','DIST_NAME', 'SCH_CD',  'SCH_NAME', 'SPENDING_PER_STDNT', 'ENROLLMENT_TOTAL', 'FTE_TCH_TOTAL', 'AVG_YRS_TCH_EXP']]
envir_2013 = transform_environment_data(envir_2013, 2013)

In [7]:
raw_2014_learn = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/2013-2014/LEARNING_ENVIRONMENT_STUDENTS-TEACHERS.csv', skipfooter=1, engine='python')
envir_2014 = raw_2014_learn.loc[:,['SCH_YEAR','DIST_NAME', 'SCH_CD',  'SCH_NAME', 'SPENDING_PER_STDNT', 'MEMBERSHIP_TOTAL', 'FTE_TCH_TOTAL', 'AVG_YRS_TCH_EXP']]
envir_2014 = transform_environment_data(envir_2014, 2014)

In [8]:
raw_2015_learn = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/2014-2015/LEARNING_ENVIRONMENT_STUDENTS-TEACHERS.csv', skipfooter=1, engine='python')
envir_2015 = raw_2015_learn.loc[:,['SCH_YEAR','DIST_NAME', 'SCH_CD',  'SCH_NAME', 'SPENDING_PER_STDNT', 'MEMBERSHIP_TOTAL', 'FTE_TCH_TOTAL', 'AVG_YRS_TCH_EXP']]
envir_2015 = transform_environment_data(envir_2015, 2015)

In [9]:
raw_2016_learn = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/2015-2016/LEARNING_ENVIRONMENT_STUDENTS-TEACHERS.csv', skipfooter=1, engine='python')
envir_2016 = raw_2016_learn.loc[:,['SCH_YEAR','DIST_NAME', 'SCH_CD',  'SCH_NAME', 'SPENDING_PER_STDNT', 'MEMBERSHIP_TOTAL', 'FTE_TCH_TOTAL', 'AVG_YRS_TCH_EXP']]
envir_2016 = transform_environment_data(envir_2016, 2016)

In [10]:
raw_2017_learn = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/2016-2017/LEARNING_ENVIRONMENT_STUDENTS-TEACHERS.csv', skipfooter=1, engine='python')
envir_2017 = raw_2017_learn.loc[:,['SCH_YEAR','DIST_NAME', 'SCH_CD',  'SCH_NAME', 'SPENDING_PER_STDNT', 'MEMBERSHIP_TOTAL', 'FTE_TCH_TOTAL', 'AVG_YRS_TCH_EXP']]
envir_2017 = transform_environment_data(envir_2017, 2017)

##2018 - 2019

Load and format columns for 2018 - 2019 data. For reasons unknown, 2018 and 2019 data was very different from the prior years.

In [11]:
# 2018 data
raw_2018_spending = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/2017-2018/SPENDING_PER_STUDENT.csv')
raw_2018_spending['School Code'] = (raw_2018_spending['DIST_NUMBER'] * 1000 + raw_2018_spending['SCH_NUMBER']).astype(int)
raw_2018_spending = raw_2018_spending.loc[:, ['SCH_YEAR', 'DIST_NAME', 'School Code', 'SCH_NAME', 'TOTAL_PER_STU_ALLFUNDS']]

raw_2018_student_count = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/2017-2018/STUDENT_DEMOGRAPHIC_RACE_GENDER.csv', skipfooter=1, engine='python')
raw_2018_student_count['School Code'] = (raw_2018_student_count['DIST_NUMBER'] * 1000 + raw_2018_student_count['SCH_NUMBER']) #.astype(float)
raw_2018_student_count =  raw_2018_student_count.loc[:,['School Code', 'MEMBERSHIP_TOTAL']]
raw_2018_student_count.dropna(inplace=True)

raw_2018 = pd.merge(raw_2018_spending, raw_2018_student_count, how='left', on='School Code')

raw_2018_tchr = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/2017-2018/SCHOOL_EXPERIENCE.csv')
raw_2018_tchr = raw_2018_tchr.loc[:,['SCH_CD','Teacher Count','AVGEXPERIENCEYEARS']]
raw_2018_tchr.columns = ['School Code','Teacher Count','AVG TCHR EXPERIENCE YRS']

envir_2018 = pd.merge(raw_2018, raw_2018_tchr, on=['School Code'], how='left')
envir_2018 = transform_environment_data(envir_2018, 2018)

In [12]:
#2019 data
raw_2019_spending = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/2018-2019/SPENDING_PER_STUDENT.csv')
raw_2019_spending['School Code'] = (raw_2019_spending['DIST_NUMBER'] * 1000 + raw_2019_spending['SCH_NUMBER'])
raw_2019_spending = raw_2019_spending.loc[:, ['SCH_YEAR', 'DIST_NAME', 'School Code', 'SCH_NAME', 'TOTAL_PER_STU_ALLFUNDS']]

raw_2019_student_count = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/2018-2019/STUDENT_DEMOGRAPHIC_RACE_GENDER.csv')
raw_2019_student_count['School Code'] = (raw_2019_student_count['DIST_NUMBER'] * 1000 + raw_2019_student_count['SCH_NUMBER'])
raw_2019_student_count =  raw_2019_student_count.loc[:,['School Code', 'MEMBERSHIP_TOTAL']]
raw_2019_student_count.dropna(inplace=True)

raw_2019 = pd.merge(raw_2019_spending, raw_2019_student_count, how='left', on='School Code')

raw_2019_tchr = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/2018-2019/SCHOOL_EXPERIENCE.csv', skipfooter=1, engine='python')
raw_2019_tchr = raw_2019_tchr.loc[:,['SCH_CD','Teacher Count','AVGEXPERIENCEYEARS']]
raw_2019_tchr.columns = ['School Code','Teacher Count','AVG TCHR EXPERIENCE YRS']

envir_2019 = pd.merge(raw_2019, raw_2019_tchr, on=['School Code'], how='left')
envir_2019 = transform_environment_data(envir_2019, 2019)

## 2020

2020 data included but this data is eventually excluded from predict_df because no data exist for school test scores.

In [13]:
raw_2020_spending = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/2019-2020/spending_per_student_2020.csv', skipfooter=1, engine='python')
raw_2020_spending = raw_2020_spending.loc[:,['SCHOOL YEAR', 'DISTRICT NAME', 'SCHOOL CODE', 'SCHOOL NAME','Total Spending per Student - All Fund Sources', 'MEMBERSHIP']]
raw_2020_spending.columns = ['SCHOOL YEAR', 'DISTRICT NAME', 'School Code', 'SCHOOL NAME','Total Spending per Student - All Fund Sources', 'MEMBERSHIP']

In [14]:
raw_2020_tchr = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/2019-2020/average_years_school_experience_2020.csv', skipfooter=1, engine='python')
raw_2020_tchr = raw_2020_tchr.loc[:,['SCHOOL CODE','EDUCATOR COUNT', 'AVERAGE YEARS OF EXPERIENCE']]
raw_2020_tchr.columns = ['School Code', 'Educator Count', 'AVG TCHR EXPERIENCE YRS']
envir_2020 = pd.merge(raw_2020_spending, raw_2020_tchr, on=['School Code'], how='left')

In [15]:
envir_2020 = pd.merge(raw_2020_spending, raw_2020_tchr, on=['School Code'], how='left')
envir_2020 = transform_environment_data(envir_2020, 2020)

## 2021 - 2022

Major formatting changes occurred again.

In [16]:
# 2021 data
raw_2021_spending = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/2020-2021/spending_per_student_2021_by_school.csv', skipfooter=1, engine='python')
raw_2021_spending = raw_2021_spending.loc[:,['SCHOOL YEAR', 'DISTRICT NAME', 'SCHOOL CODE', 'SCHOOL NAME','Total Spending per Student - All Fund Sources', 'MEMBERSHIP']]
raw_2021_spending.columns  = ['End Year', 'District Name', 'School Code', 'School Name', 'REPORTED Spending per student', 'Student Count']

raw_2021_tchr = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/2020-2021/average_years_school_experience_2021_by_school.csv', skipfooter=1, engine='python')
raw_2021_tchr = raw_2021_tchr.loc[:,['SCHOOL CODE','EDUCATOR COUNT', 'AVERAGE YEARS OF EXPERIENCE']]
raw_2021_tchr.columns = ['School Code', 'Educator Count', 'AVG TCHR EXPERIENCE YRS']

envir_2021 = pd.merge(raw_2021_spending, raw_2021_tchr, on=['School Code'], how='left')
envir_2021 = transform_environment_data(envir_2021, 2021)

In [17]:
#2022 data
raw_2022_spending = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/2021-2022/spending_per_student_2022.csv')
raw_2022_spending = raw_2022_spending.loc[:,['SCHOOL YEAR', 'DISTRICT NAME', 'SCHOOL CODE', 'SCHOOL NAME','Total Spending per Student - All Fund Sources', 'MEMBERSHIP']]
raw_2022_spending.columns  = ['End Year', 'District Name', 'School Code', 'School Name', 'REPORTED Spending per student', 'Student Count']

raw_2022_tchr = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/2021-2022/average_years_school_experience_2022.csv')
raw_2022_tchr = raw_2022_tchr.loc[:,['SCHOOL CODE', 'EDUCATOR COUNT', 'AVERAGE YEARS OF EXPERIENCE']]
raw_2022_tchr.columns = ['School Code', 'Educator Count','AVG TCHR EXPERIENCE YRS']

envir_2022 = pd.merge(raw_2022_spending, raw_2022_tchr, how='left', on='School Code')
envir_2022 = transform_environment_data(envir_2022, 2022)

## Compile years and update column names

In [18]:
# Combine years into one df
envir_data = pd.concat([envir_2012, envir_2013, envir_2014, envir_2015, envir_2016,
                       envir_2017, envir_2018, envir_2019, envir_2020, envir_2021, envir_2022],
                       axis=0, ignore_index=True)

# Define and reorder columns
desired_columns = ['End Year', 'School Code', 'Reported Spending per student',
                   'Student Count', 'Educator Count', 'AVG TCHR experience by school']
envir_data = envir_data[desired_columns]

# Use the district_school_list to clean school names and provide consistency across years
header = district_school_list.loc[:,['District Code', 'District', 'School', 'School Code', 'Level']]
school_envir = pd.merge(header, envir_data, on=['School Code'], how='left')
school_envir.reset_index(drop=True, inplace=True)

In [19]:
school_envir = school_envir.round({'End Year': 0, 'Reported Spending per student':0, 'Student Count':0,'Educator Count':0,'AVG TCHR experience by school':0})

In [20]:
school_envir.to_csv('/content/drive/MyDrive/Colab Data/KY EPSB/All Years/Unpublished/school_envir.csv', index = False)

# District Salary Information

In [21]:
# Import yearly salary information

raw_2010_salary = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 09-10 salary schedule.csv', skipfooter=1, engine='python')
raw_2011_salary = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 10-11 salary schedule.csv', skipfooter=1, engine='python')
raw_2012_salary = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 11-12 salary schedule.csv', skipfooter=1, engine='python')
raw_2013_salary = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 12-13 salary schedule.csv', skipfooter=1, engine='python')
raw_2014_salary = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 13-14 salary schedule.csv', skipfooter=1, engine='python')
raw_2015_salary = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 14-15 salary schedule.csv', skipfooter=1, engine='python')
raw_2016_salary = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 15-16 salary schedule.csv', skipfooter=1, engine='python')
raw_2017_salary = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 16-17 salary schedule.csv', skipfooter=1, engine='python')
raw_2018_salary = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 17-18 salary schedule.csv', skipfooter=1, engine='python')
raw_2019_salary = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 18-19 salary schedule.csv', skipfooter=1, engine='python')
raw_2020_salary = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 19-20 salary schedule.csv', skipfooter=1, engine='python')
raw_2021_salary = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 20-21 salary schedule.csv', skipfooter=9, engine='python')
raw_2022_salary = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 21-22 salary schedule.csv', skipfooter=1, engine='python')

In [22]:
# process teacher salaries per year, per district, and format salaries for further analysis

def salary_schedule(schedule, year):
    # Select only rows where the Rank is II
    schedule = schedule[schedule['Rank'] == 'II'].copy()

    # Compute the maximum salary for Rank II
    salary = schedule[['I', 'II', 'III']].max(numeric_only=True ,axis=1)

    # Add the 'Salary' column
    schedule['Salary'] = salary

    # Split the 'District' column into two columns and convert 'DISTRICT NUMBER' to integer
    schedule[['District Code', 'District']] = schedule['District'].str.split(n=1, expand=True)
    schedule['District Code'] = schedule['District Code'].astype(int)

    # Select only the necessary columns
    new_schedule = schedule.loc[:,['Fiscal Year', 'Years', 'District Code', 'District', 'Salary']].copy()

    # Rename the columns
    new_schedule = new_schedule.rename(columns={
        'Fiscal Year': 'End Year',
        'Years': 'AVG TCHR experience by school',
        'Salary': 'TCHR SALARY based on experience in years'})

    new_schedule['End Year'] = year

    # Return the result
    return new_schedule

In [23]:
years = list(range(2010, 2023))
salary_by_experience = pd.DataFrame()

# Access raw data and concat into one df
# Could've used this 'global' function with the school data info.
for year in years:
    raw_salary = globals()[f'raw_{year}_salary']
    salary = salary_schedule(raw_salary, year)
    salary_by_experience = pd.concat([salary_by_experience, salary], ignore_index=True)

# This is the salary schedule by district, year, and experience.
# This is based on a Rank II teacher status
salary_by_experience.drop_duplicates(inplace=True, ignore_index=True)

In [24]:
# Grab the df with the district avg salary
avg_dist_salaries = '/content/drive/MyDrive/Colab Data/KY EPSB/Per District/Average Classroom Teacher Salaries (1989-2022) ADA.csv'
raw_avg_salary = pd.read_csv(avg_dist_salaries, skipfooter=16, engine='python')

# Select only the necessary columns
avg_salary = raw_avg_salary.loc[:, ['Dist No', 'District name', '2009-10', '2010-11', '2011-12', '2012-13', '2013-14', '2014-15',
       '2015-16', '2016-17', '2017-18', '2018-19', '2019-20', '2020-21', '2021-22']].copy()

# Rename the columns
new_column_names = ['District Code', 'District'] + list(range(2010, 2023))
avg_salary.columns = new_column_names

for year in range(2010, 2023):
    avg_salary[year] = avg_salary[year].astype('Int64')

# This is the avg teacher salaries per district per year.
avg_salary.set_index('District Code', drop=True, inplace=True)

In [25]:
# Combine district avg salary with salaries by experience per year
# This will be used to create an estimate of money spent per school.

df_salary = salary_by_experience.copy()
df_salary['AVG TCHR SALARY based on district avg'] = df_salary.apply(lambda row: avg_salary.loc[row['District Code'], row['End Year']], axis=1)
df_salary.to_csv('/content/drive/MyDrive/Colab Data/KY EPSB/All Years/Unpublished/district_salary.csv', index = False)
df_salary.drop(['District'], axis =1, inplace=True)

# School and District

In [26]:
#Merge the school and district data.
df_preprocessed = pd.merge(school_envir, df_salary, on=['End Year', 'District Code', 'AVG TCHR experience by school'], how='left')

df_preprocessed.drop_duplicates(inplace=True) #drops 7 of 1 school
df_preprocessed.dropna(subset=['End Year', 'Level'], inplace=True) # Drops two unique schools that had no other data.
df_preprocessed.reset_index(drop=True, inplace=True)

#Reorders the columns
reordered_columns = ['End Year', 'District Code', 'District', 'School Code',
                    'School', 'Level', 'Reported Spending per student', 'Student Count',
                    'Educator Count', 'AVG TCHR experience by school', 'TCHR SALARY based on experience in years',
                    'AVG TCHR SALARY based on district avg']

df_preprocessed = df_preprocessed[reordered_columns]

In [27]:
# Replace the values that appear incorrect with np.Nan
df_preprocessed.loc[df_preprocessed['Reported Spending per student'] < 2000, 'Reported Spending per student'] = np.NaN
df_preprocessed.loc[df_preprocessed['Educator Count'] < 2, 'Educator Count'] = np.NaN
df_preprocessed.loc[df_preprocessed['Student Count'] < 10, 'Student Count'] = np.NaN

#Replace empty values with np.nan (doesn't remove data)
null_mask = pd.isnull(df_preprocessed ['Reported Spending per student'])
df_preprocessed.loc[null_mask, ['Money Difference per school', 'Money Difference per student']] = np.nan

In [28]:
# Calculated estimated spending
df_preprocessed['Money Difference per school'] = ((df_preprocessed['TCHR SALARY based on experience in years']
                                                   - df_preprocessed['AVG TCHR SALARY based on district avg']) * df_preprocessed['Educator Count'])
df_preprocessed['Money Difference per student'] = df_preprocessed['Money Difference per school'] / df_preprocessed['Student Count']
df_preprocessed['Estimated Spending per student'] = df_preprocessed['Reported Spending per student'] + df_preprocessed['Money Difference per student']
df_preprocessed = df_preprocessed.round({'Money Difference per school': 0, 'Money Difference per student': 0, 'Estimated Spending per student': 0})

In [29]:
df_preprocessed.to_csv('/content/drive/MyDrive/Colab Data/KY EPSB/All Years/Unpublished/preprocessed_df.csv', index = False)

In [30]:
df_preprocessed

,End Year,District Code,District,School Code,School,Level,Reported Spending per student,Student Count,Educator Count,AVG TCHR experience by school,TCHR SALARY based on experience in years,AVG TCHR SALARY based on district avg,Money Difference per school,Money Difference per student,Estimated Spending per student
0,2012,1,Adair County,1010,Adair County High School,HS,6457.0,698.0,42.0,17.0,47186.0,48053.0,-36414.0,-52.0,6405.0
1,2013,1,Adair County,1010,Adair County High School,HS,6377.0,750.0,42.0,17.0,47186.0,48068.0,-37044.0,-49.0,6328.0
2,2014,1,Adair County,1010,Adair County High School,HS,6970.0,737.0,42.0,17.0,47186.0,47499.0,-13146.0,-18.0,6952.0
3,2015,1,Adair County,1010,Adair County High School,HS,9486.0,771.0,48.0,14.0,46648.0,47525.0,-42096.0,-55.0,9431.0
4,2016,1,Adair County,1010,Adair County High School,HS,10270.0,778.0,46.0,14.0,47581.0,47999.0,-19228.0,-25.0,10245.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16119,2018,601,Woodford County,601120,Northside Elementary School,ES,13641.0,345.0,18.0,15.0,55200.0,52324.0,51768.0,150.0,13791.0
16120,2019,601,Woodford County,601120,Northside Elementary School,ES,11865.0,342.0,17.0,16.0,55465.0,52618.0,48399.0,142.0,12007.0
16121,2020,601,Woodford County,601120,Northside Elementary School,ES,13804.0,330.0,18.0,15.0,55200.0,52650.0,45900.0,139.0,13943.0
16122,2021,601,Woodford County,601120,Northside Elementary School,ES,15563.0,331.0,20.0,17.0,55728.0,53038.0,53800.0,163.0,15726.0
16123,2022,601,Woodford County,601120,Northside Elementary School,ES,15041.0,328.0,19.0,16.0,56574.0,54266.0,43852.0,134.0,15175.0